@import '../../styles/variables';

.root {
  z-index: 999;
  position: sticky;
  background: linear-gradient(
    to bottom,
    var(--color-bg) 20%,
    color-mod(var(--color-bg) a(0))
  );
}

.section {
  height: var(--pad-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.left {
  @extend .section;
  align-self: flex-start;
  justify-content: flex-start;
}

.right {
  @extend .section;
  align-self: flex-end;
  justify-content: flex-end;
}
