@import '../../variables';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;

  &.row {
    flex-direction: row;
  }
}

.section {
  @extend .container;
  padding: var(--pad-lg);

  &.no-flex {
    flex: none;
  }
}

.align-center { align-items: center; }
.align-start { align-items: flex-start; }
.justify-center { justify-content: center; }
.justify-start { justify-content: flex-start; }
.justify-between { justify-content: space-between; }
.justify-stretch { justify-content: stretch; }
