@import '../../styles/variables';

.root {
  display: block;
  border-radius: var(--radius-xl);
  margin-bottom: var(--pad-med);
  padding: var(--pad-med);
  background-color: var(--color-bg-dark);
  line-height: 1;

  &:last-child {
    margin-bottom: 0;
  }

  &.is-clickable {
    cursor: pointer;
  }
}
