@import '../../core/variables';

.property {
  width: 55vw;
  margin: auto;
}

.bidding {
  margin-bottom: var(--pad-med);

  &-balance {
    width: 50%;
    padding-right: var(--pad-sm);
  }

  &-bid {
    width: 50%;
    padding-left: var(--pad-sm);
    color: var(--color-green);
    font-size: var(--size-lg);
    text-shadow: var(--shadow-med);
  }
}

.balance {
  color: var(--color-green);
  text-shadow: var(--shadow-med);
}
