@import '../../core/variables';

.property {
  width: 55vw;
  margin: auto;
}

.winning {
  position: absolute;
  top: auto;
  bottom: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--pad-sm);

  &-icon {
    font-size: var(--size-xxl);
  }

  &-bid {
    text-align: right;
  }

  &-amount {
    font-size: var(--size-xxl);
    color: var(--color-green);
    margin-bottom: calc(var(--pad-sm) / 2);
    text-shadow: var(--shadow-med);
  }
}

.bidding {
  position: absolute;
  width: 100%;
  top: auto;
  bottom: 100%;
  margin-bottom: var(--pad-med);

  &-balance {
    width: 50%;
    padding-right: var(--pad-sm);
  }

  &-bid {
    width: 50%;
    padding-left: var(--pad-sm);
    color: var(--color-green);
    font-size: var(--size-lg);
    text-shadow: var(--shadow-med);
  }
}

.balance {
  color: var(--color-green);
  text-shadow: var(--shadow-med);
}
