@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;

  &.row {
    flex-direction: row;
  }
}

.section {
  @extend .container;
  padding: var(--pad-med);
  min-height: min-content;
  overflow: visible;

  &.no-flex {
    flex: none;
  }

  &.is-collapsed {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section {
    padding-left: 0;
    padding-right: 0;
  }
}

.scroll-y { overflow-y: scroll; }
.pad-sm { padding: var(--pad-sm) }
.align-center { align-items: center; }
.align-start { align-items: flex-start; }
.justify-center { justify-content: center; }
.justify-start { justify-content: flex-start; }
.justify-between { justify-content: space-between; }
.justify-stretch { justify-content: stretch; }
