@import '../../core/variables';

.top {
  position: absolute;
  top: auto;
  bottom: 100%;
  width: 100%;
  margin-bottom: var(--pad-sm);

  &-right {
    margin-left: auto;
    color: var(--color-green);

    & > * {
      margin-left: 0.25em;
    }
  }
}

.bottom {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: var(--pad-med);

  &.close {
    margin-top: var(--pad-mid);
  }
}

.hotel {
  color: var(--color-red);
}

.bid {
  font-size: var(--size-lg);
}

.price {
  color: var(--color-green);
  margin-left: 0.25em;
}

.buttons {
  margin-bottom: var(--pad-med);
}
