.card {
  padding: 8vw 10vw;
  background-color: #FAFAF4;
  box-shadow: 0 0.2em 0 color-alpha('shadow', 0.1);
  border: 1px solid color-alpha('shadow', 0.05);
  border-radius: 0.2em;
  color: black;
}
