.radio-list {
  margin-top: 1em;
  @include display(flex);
  @include flex-wrap(wrap);
  
  li {
    padding: 1em 0.5em;
    @include flex-basis(25%);
  }
  
  label {
    height: 100%;
    padding: 0;
  }
  
  span {
    display: block;
    color: color-alpha('shadow', 0.2);
    height: 2em;
    width: 2em;
    margin: auto;
    
    background-color: currentcolor;
  }
  
  input[type=radio] {
    display: none;
    
    &:disabled + span {
      opacity: 0.2;
    }
    
    &:checked + span {
      color: color('focus');
    }
  }
}