@import '../../styles/variables';

.button {
  border-radius: var(--radius-med);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-med);
  height: var(--pad-xl);
  padding: 0 var(--pad-med);
  text-align: center;
  width: calc(50% - (var(--pad-sm) / 2));
  cursor: pointer;
  color: var(--color-text-lighter);
  box-shadow: var(--shadow-sm);
  text-shadow: var(--shadow-xs);

  &:not(:last-child) {
    margin-bottom: var(--pad-med);
  }
}

.primary {
  background: var(--color-primary);

  &.is-hollow {
    color: var(--color-primary);
  }

  &:not(.is-disabled) {
    &:hover, &:focus {
      background: var(--color-primary-focus);
    }

    &:active {
      background: var(--color-primary-active);
    }
  }
}

.secondary {
  background: var(--color-secondary);

  &.is-hollow {
    color: var(--color-secondary);
  }

  &:not(.is-disabled) {
    &:hover, &:focus {
      background: var(--color-secondary-focus);
    }

    &:active {
      background: var(--color-secondary-active);
    }
  }
}

.alert {
  background: var(--color-alert);

  &.is-hollow {
    color: var(--color-alert);
  }

  &:not(.is-disabled) {
    &:hover, &:focus {
      background: var(--color-alert-focus);
    }

    &:active {
      background: var(--color-alert-active);
    }
  }
}

.icon {
  background: none;
  box-shadow: none;
  align-items: center;
  color: var(--color-text);
  font-size: var(--size-lg);
  padding: 0;
  width: auto;

  & > span {
    display: inline-block;
  }

  &:not(.is-disabled) {
    &:hover, &:focus {
      background: transparent;
    }

    &:active {
      background: transparent;
      color: var(--color-text-darker);
    }
  }
}

.is-hollow {
  background: none;
  box-shadow: none;
  text-shadow: none;

  &:not(.is-disabled) {
    &:hover, &:focus, &:active {
      background: none;
    }
  }
}

.is-inline {
  margin: 0 0 0 var(--pad-sm);
  vertical-align: middle;
  width: auto;

  &:not(.icon) {
    padding: 0 var(--pad-sm);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.is-block {
  width: 100%;
}

.is-loading {
  box-shadow: none;
}

.is-disabled {
  box-shadow: var(--shadow-xs);
  text-shadow: none;
  opacity: 0.75;
}
