.centered {
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #AAA;
}

.error {
  background-color: rgb(255,50,50);
  color: white;
}

.status {
  font-size: 32px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
}

.message {
  font-size: 18px;
}
