@import '../../styles/variables';

.title {
  color: var(--color-text-lighter);
  font-size: var(--size-xl);
  text-align: center;
  text-shadow: var(--shadow-sm);
  text-transform: uppercase;
}

.heading {
  @extend .title;
  font-size: var(--size-lg);
  line-height: var(--pad-xl);
}

.is-center {
  text-align: center;
}

.is-error {
  color: var(--color-alert);
}

.is-upper {
  text-transform: uppercase;
}

.color--primary {
  color: var(--color-primary);
}

.color--secondary {
  color: var(--color-secondary);
}

.size--sm {
  font-size: var(--size-sm);
}
