@import '../../core/variables';

.root {

  button {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    z-index: 10;

    &:last-child:not(:only-child) {
      left: auto;
      right: -10px;
    }
  }
}
