@import '../../core/variables';

.title {
  margin-top: 25%;
}

.buttons button {
  margin-bottom: var(--pad-med);

  &:first-child {
    margin-right: 0;
  }

  &:last-child {
    margin-left: 0;
  }
}
