@import '../../styles/variables';

.root {
  width: 280px;
  margin: 0 auto;
}

.details {
  height: var(--pad-med);
  margin-bottom: var(--pad-sm);

  .is-mortgaged & {
    text-align: center;
  }

  .house, .hotel {
    font-size: var(--pad-med);
    margin-right: var(--pad-xs);
    filter: drop-shadow(var(--shadow-sm));
  }

  .transfer-btn {
    float: right;
    font-size: var(--size-sm);
    color: var(--color-text-dark);
  }
}

.card {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: var(--shadow-sm);
  padding: var(--pad-med);
  height: 420px; /* heh */
  width: 100%;

  .is-mortgaged & {
    box-shadow: none;
    opacity: 0.3;
  }

  .house, .hotel {
    font-size: var(--size-med);
  }
}

.content {
  display: grid;
  grid-gap: var(--pad-sm);
  grid-template-columns: 2fr 1fr;
  font-size: var(--size-sm);
  line-height: 1;
  color: black;

  dd {
    text-align: right;
  }

  hr {
    border: none;
    border-top: 1px solid black;
    grid-column: 1 / span 2;
    margin: var(--pad-sm) 0;
  }
}

.description {
  grid-column: 1 / 3;
  text-align: center;
  font-size: var(--size-med);
  line-height: 1.3;

  &:not(:last-of-type) {
    margin-bottom: var(--pad-sm);
  }
}

.actions {
  margin-top: var(--pad-sm);

  button > span:first-child {
    margin-right: 0.25em;
  }

  .buy-other {
    position: absolute;
    font-size: var(--size-sm);
    color: var(--color-text-dark);
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
  }
}

.swatch {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin-bottom: var(--pad-med);
  padding: var(--pad-sm);
  height: 100px;

  .railroad &,
  .utility & {
    border-left: none;
    border-right: none;
    height: auto;
    margin-top: var(--pad-med);
    padding: 0;
    flex: 1
  }
}

.name {
  color: black;
  align-content: center;
  font-size: var(--size-big);
  text-align: center;
}

.icon {
  display: block;
  font-size: 5rem;
  flex: 2;

  .railroad & {
    font-size: 6rem;
  }

  & > svg {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0 auto;
    transform: translatey(-50%);
  }
}

.house {
  color: var(--color-secondary);
}

.hotel {
  color: var(--color-alert);
}

.actions {
  display: flex;
  justify-content: center;
}
