@import '../../styles/variables';

.root {
  width: 280px;
  margin: 0 auto;
}

.details {
  height: var(--pad-med);
  margin-bottom: var(--pad-sm);

  .is-mortgaged & {
    text-align: center;
  }

  .house, .hotel {
    font-size: var(--pad-med);
    margin-right: var(--pad-xs);
    filter: drop-shadow(var(--shadow-sm));
  }
}

.card {
  background: white;
  box-shadow: var(--shadow-sm);
  padding: var(--pad-med);
  width: 100%;

  .is-mortgaged & {
    box-shadow: none;
    opacity: 0.3;
  }

  .house, .hotel {
    font-size: var(--size-med);
  }
}

.content {
  display: grid;
  grid-gap: var(--pad-sm);
  grid-template-columns: 2fr 1fr;
  font-size: var(--size-sm);
  line-height: 1;
  color: black;

  dd {
    text-align: right;
  }

  hr {
    border: none;
    border-top: 1px solid black;
    grid-column: 1 / span 2;
    margin: var(--pad-sm) 0;
  }
}

.actions {
  margin-top: var(--pad-sm);

  button > span:first-child {
    margin-right: 0.25em;
  }
}

.swatch {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin-bottom: var(--pad-med);
  font-size: var(--size-big);
  padding: var(--pad-sm);
  text-align: center;
  height: 100px;
  color: black;
}

.house {
  color: var(--color-secondary);
}

.hotel {
  color: var(--color-alert);
}

.actions {
  display: flex;
  justify-content: center;
}
