@import '../../styles/variables';

.container {
  display: flex;
  height: 100%;
  padding: var(--pad-lg);
  align-items: center;
  justify-content: stretch;
  position: fixed;
  width: 100%;
}

.modal {
  background: var(--color-bg-light);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-med);
  flex: 1;
  padding: var(--pad-med);
}
