@font-face {
  font-family: 'classic-icons';
  src: url('font.eot?87007238');
  src: url('font.eot?87007238#iefix') format('embedded-opentype'),
       url('font.woff2?87007238') format('woff2'),
       url('font.woff?87007238') format('woff'),
       url('font.ttf?87007238') format('truetype'),
       url('font.svg?87007238#classic-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
