@font-face {
  font-family: 'classic-icons';
  src: url('font.eot?73886115');
  src: url('font.eot?73886115#iefix') format('embedded-opentype'),
       url('font.woff2?73886115') format('woff2'),
       url('font.woff?73886115') format('woff'),
       url('font.ttf?73886115') format('truetype'),
       url('font.svg?73886115#classic-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
