@import '../../styles/variables';

.root {
  display: grid;
  grid-gap: var(--pad-sm);
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--pad-xs);
}

.item {
  margin: 0 auto;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(3n-2) {
    margin-left: 0;
  }
}

.token {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: var(--pad-xl);
  padding: var(--pad-med);
  width: calc(var(--pad-xl) + var(--pad-xxl));
  height: calc(var(--pad-xl) + var(--pad-xxl));
  cursor: pointer;

  &.is-disabled {
    color: var(--color-bg-light);

    &.is-selected {
      color: var(--color-text-light);
    }
  }

  &.is-selected,
  .item:active &:not(.is-disabled) {
    background: color-mod(black a(10%));
    color: white;
  }
}
