.root {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}

.balance {
  font-size: 20px;
  color: rgb(100,200,100);
}

.bank {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px;
  color: #aaa;
  margin-left: 20px;
  font-size: 18px;
}
