@import '../../variables';

:global {
  & h1, & h2, & h3, & h4, & h5 {
    font-weight: normal;
  }

  & h1 {
    font-size: var(--size-xl);
    color: var(--color-text-light);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-shadow: var(--shadow-sm);
  }

  & h2 {
    @extend :global h1;
    font-size: var(--size-lg);
  }
}

.center {
  text-align: center;
}
