@import '../../styles/variables';

.root {
  display: inline-block;
  line-height: 1;

  svg {
    height: 1em;
    width: 1em;
    display: block;
    fill: currentcolor;
    margin: auto;
  }
}

.color--primary {
  color: var(--color-primary);
}

.color--secondary {
  color: var(--color-secondary);
}

.color--alert {
  color: var(--color-alert);
}
