@import '../../styles/variables';

.root {
  .input {
    flex: 1;
    margin-bottom: var(--pad-med);
  }
}

.property {
  height: 100vh;

  &:not(:first-child) {
    margin-top: -95vh;
  }
}

.not-found {
  text-align: center;
  margin-bottom: var(--pad-xxl);
}
