@import '../../styles/variables';

.root {
  .input {
    flex: 1;
    margin-bottom: var(--pad-med);
  }
}

.list-view {
  min-height: unset;
  overflow: hidden;
}

.property:not(:first-child) {
  margin-top: calc(-420px + 5vh);
}

.not-found {
  text-align: center;
  margin-bottom: var(--pad-xxl);
}
