@import '../../core/variables';

.root {

  .increment, .decremenet {
    font-size: var(--size-lg);
  }
}

.center {
  flex: 1;

  &.is-disabled {
    opacity: 0.4;
  }
}

.decrement {
  color: var(--color-red);

  &:before {
    content: '\2014';
  }
}

.increment {
  color: var(--color-green);

  &:before {
    content: '+';
  }
}
