:root {
  /* colors */
  --color-primary: #2196F3;          /* blue 500 */
  --color-primary-focus: #1E88E5;    /* blue 600 */
  --color-primary-active: #1976D2;   /* blue 700 */
  --color-secondary: #4CAF50;        /* green 500 */
  --color-secondary-focus: #43A047;  /* green 600 */
  --color-secondary-active: #388E3C; /* green 700 */
  --color-alert: #F44336;            /* red 500 */
  --color-alert-focus: #E53935;      /* red 600 */
  --color-alert-active: #D32F2F;     /* red 700 */

  /* background */
  --color-bg: #033343;
  --color-bg-light: #144454;
  --color-bg-lighter: #255565;

  /* text colors */
  --color-text: #477787;
  --color-text-light: #6999A9;
  --color-text-lighter: #FFFFFF;
  --color-text-dark: #366676;
  --color-text-darker: #255565;

  /* font sizes */
  --size-sm: 0.8125rem;
  --size-med: 0.9375rem;
  --size-lg: 1.75rem;
  --size-xl: 2.25rem;

  /* spacing */
  --pad-xs: 0.4375rem;
  --pad-sm: 0.625rem;
  --pad-med: 1.25rem;
  --pad-lg: 1.875rem;
  --pad-xl: 2.5rem;
  --pad-xxl: 3.75rem;

  /* radius */
  --radius-med: 0.25rem;
  --radius-lg: 0.375rem;

  /* shadows */
  --shadow-xs: 0 0.0625rem 0.125rem color(black a(20%));
  --shadow-sm: 0 0.125rem 0.25rem color(black a(50%));
  --shadow-med: 0 0.25rem 0.625rem color(black a(40%));
  --shadow-lg: 0 0.375rem 1rem color(black a(30%));
}
