.root {
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;

  input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    border: 1px solid;

    &:not(:focus) + .empty {
      color: #666;
    }
  }
}

.amount {
  outline: none;
  font-size: 36px;
}

.collect {
  color: rgb(100,200,100);
}

.pay {
  color: rgb(255,50,50);
}
