.grid {
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 320px;

  /**
   * height calc
   * -----------
   * inside = 320px
   * card width = (inside / 4) - 20px
   * card height = card width * 1.5
   * group height = card height * 1.36
   * height = (group height * 3) + 80px
   */
  height: calc((((((320px / 4) - 20px) * 1.5) * 1.36) * 3) + 80px);
}

.cell {
  width: 25%;
  padding: 0 10px;
  margin-bottom: 40px;
  height: calc((((320px / 4) - 20px) * 1.5) * 1.36);
}

.small {
  width: 316px;
  height: calc((((((316px / 5) - 16px) * 1.5) * 1.36) * 2) + 30px);

  .cell {
    width: 20%;
    padding: 0 8px;
    margin-bottom: 30px;
    height: calc((((316px / 5) - 16px) * 1.5) * 1.36);
  }
}
