@import '../../styles/variables';
@import '../../styles/helpers';

.root {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: var(--pad-med);
  }

  input[type="radio"] {
    @extend %visually-hidden;
  }
}

.label {
  color: var(--color-text-light);
  display: flex;
  font-size: var(--size-sm);
  line-height: 1;
  margin-bottom: var(--pad-xs);
  text-transform: capitalize;

  span {
    display: inline-block;
    vertical-align: top;
  }

  .has-focus & {
    color: var(--color-text-lighter);
  }

  .is-error & .error {
    color: var(--color-alert);
    margin-left: auto;
  }

  .is-disabled & {
    color: var(--color-text-dark);
  }
}

.input {
  background: var(--color-bg-light);
  border: 1px solid var(--color-text);
  border-radius: var(--radius-med);
  color: var(--color-text-lighter);
  height: var(--pad-xl);
  line-height: var(--pad-xl);
  padding: var(--pad-xs) var(--pad-sm);

  .alt & {
    background: var(--color-bg);
  }

  .is-error & {
    border-color: var(--color-alert);
  }

  .is-disabled & {
    background-color: color-mod(var(--color-bg-light) a(0.5));
    border-color: var(--color-text-darker);
    color: var(--color-text-light);

    &::placeholder {
      color: var(--color-text-darker);
    }
  }

  .is-disabled.alt & {
    background-color: color-mod(var(--color-bg) a(0.5));
    border-color: var(--color-text-dark);
  }

  &::placeholder {
    color: var(--color-text-dark);
  }

  &:focus {
    border-color: var(--color-primary);
  }
}
