@import '../../styles/variables';
@import '../../styles/helpers';

.root {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: var(--pad-med);
  }

  input[type="radio"] {
    @extend %visually-hidden;
  }

  & ~ button {
    margin-top: var(--pad-med);
  }
}

.label {
  color: var(--color-text-light);
  display: flex;
  font-size: var(--size-sm);
  line-height: 1;
  margin-bottom: var(--pad-xs);
  text-transform: capitalize;

  span {
    display: inline-block;
    vertical-align: top;
  }

  .has-focus & {
    color: var(--color-text-lighter);
  }

  .is-error & .error {
    color: var(--color-alert);
    margin-left: auto;
  }

  .is-disabled & {
    color: var(--color-text-dark);
  }
}

.input {
  background: var(--color-bg-light);
  border: 1px solid var(--color-text);
  border-radius: var(--radius-med);
  color: var(--color-text-lighter);
  height: var(--pad-xl);
  line-height: var(--pad-xl);
  padding: var(--pad-xs) var(--pad-sm);

  .alt & {
    background: var(--color-bg);
  }

  .is-error & {
    border-color: var(--color-alert);
  }

  .is-disabled & {
    background-color: color-mod(var(--color-bg-light) a(0.5));
    border-color: var(--color-text-darker);
    color: var(--color-text-light);

    &::placeholder {
      color: var(--color-text-darker);
    }
  }

  .is-disabled.alt & {
    background-color: color-mod(var(--color-bg) a(0.5));
    border-color: var(--color-text-dark);
  }

  &::placeholder {
    color: var(--color-text-dark);
  }

  &:focus {
    border-color: var(--color-primary);
  }
}

.checkbox {
  display: inline-block;

  input[type="checkbox"] {
    @extend %visually-hidden;
  }
}

.toggle {
  display: flex;
  flex-direction: row;

  &.is-disabled {
    opacity: 0.6;
  }
}

.inline-toggle {
  background-color: var(--color-bg-light);
  border-radius: calc(var(--pad-sm) / 2);
  height: var(--pad-sm);
  margin: calc(var(--pad-sm) / 2) var(--pad-sm);
  width: calc(var(--pad-med) * 2);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    margin-top: calc(var(--pad-sm) / 2 * -1);
    background-color: var(--color-text);
    height: var(--pad-med);
    width: var(--pad-med);
  }

  .is-active &::before {
    margin-left: auto;
    background-color: var(--color-primary);
  }

  &.color--primary::before {
    background-color: var(--color-primary);
  }

  &.color--secondary::before {
    background-color: var(--color-secondary);
  }

  &.color--alert::before {
    background-color: var(--color-alert);
  }
}

.currency-input {
  input[type="number"] {
    @extend %visually-hidden;
  }
}
