<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>

    {{{body}}}

  </body>
</html>