.root {
  margin-bottom: 30px;
  padding: 0 20px;
}

.input {
  color: white;
  padding: 10px 0;
  text-align: center;
}

.label {
  height: 18px;
  margin-bottom: 0;
  transition: transform 0.2s ease-out,
              font-size 0.2s ease-out,
              opacity 0.2s ease-out;
}

.floatingLabel {
  transform: translateY(30px);
  font-size: 14px;
  opacity: 0.5;
}
